<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fid.mapper.RobotMatchKeywordsMapper" >
  <resultMap id="BaseResultMap" type="com.fid.domain.RobotMatchKeywords" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="t_id" property="tId" jdbcType="BIGINT" />
    <result column="missionid" property="missionid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, t_id, missionid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from robot_match_keywords
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from robot_match_keywords
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fid.domain.RobotMatchKeywords" useGeneratedKeys="true" keyProperty="id">
    insert into robot_match_keywords (id, name, t_id, 
      missionid)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{tId,jdbcType=BIGINT}, 
      #{missionid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.fid.domain.RobotMatchKeywords" keyProperty="id">
    insert into robot_match_keywords
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="tId != null" >
        t_id,
      </if>
      <if test="missionid != null" >
        missionid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tId != null" >
        #{tId,jdbcType=BIGINT},
      </if>
      <if test="missionid != null" >
        #{missionid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fid.domain.RobotMatchKeywords" >
    update robot_match_keywords
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tId != null" >
        t_id = #{tId,jdbcType=BIGINT},
      </if>
      <if test="missionid != null" >
        missionid = #{missionid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fid.domain.RobotMatchKeywords" >
    update robot_match_keywords
    set name = #{name,jdbcType=VARCHAR},
      t_id = #{tId,jdbcType=BIGINT},
      missionid = #{missionid,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="queryListByParam" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from robot_match_keywords
		<where>
			1=1
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="name != null">
				and name = #{name}
			</if>
			<if test="tId != null">
				and t_id = #{tId}
			</if>
			<if test="missionid != null">
				and missionid = #{missionid}
			</if>
			<if test="ids != null">
				<choose>
					<when test="ids.size == 0">
						and 1!=1
					</when>
					<otherwise>
						and(
						<foreach collection="ids" open="(" close=")" item="id"
							separator="OR">
							id = #{id}
						</foreach>
						)
					</otherwise>
				</choose>
			</if>
			<if test="names != null">
				<choose>
					<when test="names.size == 0">
						and 1!=1
					</when>
					<otherwise>
						and(
						<foreach collection="names" open="(" close=")" item="name"
							separator="OR">
							name = #{name}
						</foreach>
						)
					</otherwise>
				</choose>
			</if>
		</where>
	</select>
</mapper>