<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<settings>
	        <setting name="logPrefix" value="dao."/>
	</settings>
	
	<typeAliases>
		<!-- <typeAlias alias="ChildRelatedTags" type="com.fid.domain.tags.ChildRelatedTags" /> -->
	</typeAliases>
	
	<typeHandlers>
		<!-- <typeHandler handler="com.fid.mybatis.typehander.TimeStampTypeHandler" javaType="java.lang.Long"/> -->
		<!-- <typeHandler handler="com.fid.mybatis.typehander.GenericTypeHandler" javaType="com.fid.type.business.userLaber.DataType"/>
		<typeHandler handler="com.fid.mybatis.typehander.GenericTypeHandler" javaType="com.fid.type.business.userLaber.StockStatus"/>
		<typeHandler handler="com.fid.mybatis.typehander.GenericTypeHandler" javaType="com.fid.type.business.userLaber.TopicStatus"/>
		<typeHandler handler="com.fid.mybatis.typehander.GenericTypeHandler" javaType="com.fid.type.business.userLaber.ContentStatus"/>
	    -->
	 </typeHandlers>
	
</configuration>
