<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fid.platform.database.robot.mapper.RobotNlpTagsMapper" >
  <resultMap id="BaseResultMap" type="fid.platform.core.common.pojo.robot.RobotNlpTags" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="BIGINT" />
    <result column="missionid" property="missionid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, pid, missionid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from robot_nlp_tags
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from robot_nlp_tags
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="fid.platform.core.common.pojo.robot.RobotNlpTags" >
    insert into robot_nlp_tags (id, name, pid, 
      missionid)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{pid,jdbcType=BIGINT}, 
      #{missionid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="fid.platform.core.common.pojo.robot.RobotNlpTags" >
    insert into robot_nlp_tags
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="missionid != null" >
        missionid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=BIGINT},
      </if>
      <if test="missionid != null" >
        #{missionid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="fid.platform.core.common.pojo.robot.RobotNlpTags" >
    update robot_nlp_tags
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=BIGINT},
      </if>
      <if test="missionid != null" >
        missionid = #{missionid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="fid.platform.core.common.pojo.robot.RobotNlpTags" >
    update robot_nlp_tags
    set name = #{name,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=BIGINT},
      missionid = #{missionid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!--自定义查询-->
  <select id="getParentTag" resultType="fid.platform.core.common.pojo.robot.RobotNlpTags">
    SELECT * FROM robot_nlp_tags WHERE id = #{id,jdbcType=BIGINT}
  </select>
</mapper>